<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="isoft" viewBox="0 0 118 94">
    <title>Isoft</title>
    <path stroke-width="4" class="fsalpha-Logo--square" id="svg_3" d="m2.00001,66.95337l10.10152,-44.94911l40.89839,-20.00426l40.8984,20.00426l10.1017,44.94911l-28.30338,36.04663l-45.39345,0l-28.30319,-36.04663l0.00001,0z" fill-rule="evenodd" stroke="#ffffff"/>
    <text font-style="italic" font-weight="bold" xml:space="preserve" text-anchor="start" font-family="Noto Sans JP" font-size="24" stroke-width="0" id="svg_5" y="67" x="17" fill="#ffffff" transform="matrix(1.13221, 0, 0, 1.43928, -7.99643, -25.829)">ISOFT</text>   </symbol>
</svg>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="40"><use xlink:href="#isoft"/></svg>
        <span class="fs-4">Simple header</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Productos</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container px-7">

          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

                <img src="../assets/abaco.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="300" loading="lazy">

            </div>
            <h1>Abaco</h1>
            <p><a class="btn btn-lg btn-primary"  (click)="descargarAbaco(content)" >Descargas</a></p>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/factura.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Factura</h1>
            <p>Interfaz de facil manejo</p>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/inventario.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Inventarios</h1>
            <p>Cargue con factura de proveedor</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/graficos.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Reportes</h1>
            <p>Graficos y Tablas</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/arqueo.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Arqueo</h1>
            <p>Diarios de Caja</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/cartera.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Cartera</h1>
            <p>Control clientes</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <div class="overflow-hidden" style="max-height: 200vh;">

              <img src="../assets/deudas.PNG" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Abaco" width="400" height="200" loading="lazy">

          </div>
            <h1>Deudas a proveedores</h1>
            <p>Abonos y pagos</p>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <hr class="featurette-divider">
  </div>

  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; ISOFT, Inc. &copy; Email. ingenierojaviermurcia@gmail.com &copy; Cel. 3102030435</p>

  </footer>
</main>
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Descargando....</label>
        <div class="input-group">
          <mat-progress-bar mat-progress-bar mode="indeterminate" *ngIf="isCompleted"></mat-progress-bar>
        </div>
      </div>
    </form>
  </div>

</ng-template>


